.buyprop {
  position: relative;
}

.scaleSmall {
  transform: scale(0);
  transition: 1s ease;
}

.scaleLarge {
  transform: scale(1);
  transition: 1s ease;
}

.buypropTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.buypropContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.buypropContent a:hover {
  text-decoration: none;
  color: black;
}
