.footer {
  position: relative;
  background-color: #d9d7e9;
}

/* .footer svg {
  position: relative;
  left: -40%;
  color: #302b63;
} */

.footerbody {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.footerTop {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  /* background-image: url("./footerbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.footerTop_up {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #302b63;
}

.footerTop_up img {
  width: 150px;
  object-fit: contain;
}

.footerTop_up a {
  margin-right: 5px;
  text-decoration: none;
  font-family: var(--fontStyle-Five);
  color: var(--main-colorOne);
  font-size: var(--medium-fontOne);
}

.footerTop_down {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.footerTop_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerTop_right > .MuiAvatar-root {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.footerTop_right .social {
  display: flex;
  align-items: center;
}

.footerTop_right ul {
  max-width: 180px;
}

.footerTop_about {
  display: flex;
  align-items: center;
}

.footerRight {
  max-width: 400px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  color: #000;
  background: #d9d7e9;
}

/* .footerRight::-webkit-scrollbar {
  display: none;
} */

.footerRightHeader {
  position: sticky;
  top: 0%;
  z-index: 1;
  color: #000;
  width: 100%;
  padding: 10px;
  background: #d9d7e9;
}

.footerRight h2 {
  color: #000;
}

.footerRightBody {
  display: flex;
  align-items: flex-start;
  width: 80%;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 10px;
  border-radius: 30px;
  color: #000;
}

.footerRightBody:hover {
  background: #efeeff;
  cursor: pointer;
}

.footerRightBody > .MuiAvatar-root {
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .footerTop {
    height: 550px;
  }

  .footerTop_down {
    flex-direction: column;
    justify-content: space-around;
  }

  .footerTop_middle {
    margin-bottom: 50px;
  }

  .h1 {
    font-size: var(--medium-fontTwo);
    font-weight: bolder;
  }
}
