.property {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.propertyImage img {
  width: 100%;
  height: 230px;
  object-fit: contain;
}

.delete {
  display: none;
  margin-right: 10px;
}
